[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
celluloid = "*"
numpy = "*"
black = {extras = ["jupyter"], version = "*"}
names = "*"
mypy = "*"
jupyter-server = "*"
jupyterlite = "==0.1.0b5"
jupyterlab = "~=3.3.0"
bqplot = "*"
ipycanvas = ">=0.9.1"
ipyleaflet = "*"
ipympl = ">=0.8.2"
ipywidgets = ">=7.7,<8"
jupyterlab-drawio = "*"
jupyterlab-fasta = ">=3,<4"
jupyterlab-geojson = ">=3,<4"
jupyterlab-tour = "*"
jupyterlab-miami-nights = "*"
jupyterlite-p5-kernel = "==0.1.0a12"
jupyterlite-xeus-lua = "==0.3.0"
jupyterlite-xeus-wren = "==0.2.0"
jupyterlite-xeus-sqlite = "==0.2.0"
plotly = "<6,>=5"
theme-darcula = "*"
PuLP = "*"
jupyterlab-language-pack-fr-FR = "*"
jupyterlab-language-pack-zh-CN = "*"
pytest = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[scripts]
tests = "pytest"
