[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
celluloid = "*"
pulp = "*"
numpy = "*"
black = {extras = ["jupyter"], version = "*"}
names = "*"
mypy = "*"
jupyter-server = "*"
jupyterlite = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
